<div class="hi-categories_index">
  <p>カテゴリ一覧</p>
  <div class="hi-index">
    <p><%= link_to "フィットネスクラブ", fitness_path %></p>
    <p><%= link_to "スクール、塾", school_path %></p>
    <p><%= link_to "美容室、美容院", beautysalon_path %></p>
    <p><%= link_to "サブスクリプション", subscription_path %></p>
    <p><%= link_to "音楽、動画配信サービス", music_path %></p>
    <p><%= link_to "アプリ、ゲーム配信サービス", game_path %></p>
    <p><%= link_to "ファンクラブ", fanclub_path %></p>
    <p><%= link_to "オンラインサロン", salon_path %></p>
    <p><%= link_to "その他", other_path %></p>
  </div>
  <h6 class="category_list" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">カテゴリーリストはこちら！</h6>
  <div class="collapse" id="collapseExample">
    <p><%= link_to "フィットネスクラブ", fitness_path %></p>
    <p><%= link_to "スクール、塾", school_path %></p>
    <p><%= link_to "美容室、美容院", beautysalon_path %></p>
    <p><%= link_to "サブスクリプション", subscription_path %></p>
    <p><%= link_to "音楽、動画配信サービス", music_path %></p>
    <p><%= link_to "アプリ、ゲーム配信サービス", game_path %></p>
    <p><%= link_to "ファンクラブ", fanclub_path %></p>
    <p><%= link_to "オンラインサロン", salon_path %></p>
    <p><%= link_to "その他", other_path %></p>
  </div>
</div>
