<%= form_with(model: micropost, local: true) do |f| %>
    <%= render 'share/error_messages', object: f.object %>
    <div class="field article_name">
      <%= f.label :name, "記事の題名" %>
      <%= f.text_field :name, class: 'form-control', placeholder: "(※30文字まで)(例：月額制動画ストリーミングサービス)" %>
    </div>
    <div class="field article_price">
      <%= f.label :price, "サービスの金額を入力してください" %>
      <%= f.text_field :price, size: "10x10", class: 'form-control', placeholder: "(※30文字まで)(例：月額3000円...等)" %>
    </div>
    <div class="field article_content">
      <%= f.label :content, "記事の内容" %>
      <%= f.rich_text_area :content, placeholder: "(※2500文字まで)記事の内容" %>
    </div>
    <div class="field article_picture">
      <%= f.label :picture, "記事の画像" %>
      <%= f.file_field :picture %>
    </div>
    <%= f.submit "記事を投稿する", class: "btn btn-lg btn-primary" %>
<% end %>
