<!-- コメント内容(10件) ------------------------------------------------------------------>
<p class="all_view_comment"><%= comments.count %>件のコメント</p>
<% comments.first(10).each do |comment| %>
<% unless comment.id.nil? %>
  <li class="comment-container">
  <div class="comment-box">
    <div class="comment-text">
      <% if comment.user.picture.present? %>
        <%= image_tag comment.user.resize_home_icon %>
      <% else %>
        <img src="/default2.jpg" width="65px" height="65px">
      <% end %>
      <%= link_to "コメントユーザー：#{comment.user.name}", comment.user %>
      <div class="comment-entry">
        <p><%= "コメント内容：#{comment.body}" %></p>
        <% if comment.user == current_user %>
          <%= form_with(scope: :comment, url: micropost_comment_path(comment.micropost_id, comment.id), method: :delete) do |f| %>
            <%= f.submit "コメント削除", class: "btn-sm btn-link" %>
          <% end %>
        <% end %>
      </div>
      <span class="comment-date pull-right">
      <%= "#{time_ago_in_words(comment.created_at)}前" %>
      </span>
    </div>
  </div>
  </li>
<% end %>
<% end %>
<h6 class="more" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">全体のコメントを見る</h6>
<!-- コメント内容(10件目以降) ------------------------------------------------------------------>
<div class="collapse" id="collapseExample">
  <% comments.offset(10).each do |comment| %>
  <% unless comment.id.nil? %>
  <li class="comment-container">
    <div class="comment-box">
      <div class="comment-text">
        <% if comment.user.picture.present? %>
          <%= image_tag comment.user.resize_home_icon %>
        <% else %>
          <img src="/default2.jpg" width="65px" height="65px">
        <% end %>
        <%= link_to "コメントユーザー：#{comment.user.name}", comment.user %>
        <div class="comment-entry">
          <%= "コメント内容：#{comment.body}" %>
          <% if comment.user == current_user %>
            <%= form_with(scope: :comment, url: micropost_comment_path(comment.micropost_id, comment.id), method: :delete) do |f| %>
              <%= f.submit "コメント削除", class: "btn-sm btn-link" %>
            <% end %>
          <% end %>
        </div>
        <span class="comment-date pull-right">
        <%= "#{time_ago_in_words(comment.created_at)}前" %>
        </span>
      </div>
    </div>
  </li>
  <% end %>
  <% end %>
</div>
