<% provide(:page_title, 'ユーザー 一覧') %>
<h1 class="users_top">ユーザー　一覧ページ</h1>
<div class="user_search_form">
  <%= form_with url: users_path, method: :get, local: true do |f| %>
    <%= text_field_tag :search, params[:search], placeholder: "検索したいユーザー名を入れてください" %>
    <%= submit_tag 'ユーザー検索', :name => nil %>
  <% end %>
</div>
<%= will_paginate previous_label: '&lt 前へ', next_label: '次へ &gt' %>
<ul class="users">
  <%= render @users %>
</ul>
<%= will_paginate previous_label: '&lt 前へ', next_label: '次へ &gt' %>
