<% provide(:page_title, "#{@title}" ) %>
<div class="row">
  <aside class="col-md-4">
  <section class="user_info">
    <%= render 'share/user_status' %>
  </section>
    <section class="status">
      <%= render 'share/follow_status', user: @user %>
    </section>
      <% if @users.any? %>
        <div class="user_avatars">
          <% @users.each do |user| %>
            <%= link_to user do %>
              <% if user.picture.present? %>
                <%= image_tag user.resize_follow_icon %>
              <% else %>
                <img src="/default2.jpg" width="30px" height="30px">
              <% end %>
            <% end %>
          <% end %>
        </div>
      <% end %>
  </aside>
  <div class="col-md-8">
    <h3><%= @title %></h3>
    <% if @users.any? %>
      <ul class="users follow">
        <%= render @users %>
      </ul>
      <%= will_paginate previous_label: '&lt 前へ', next_label: '次へ &gt' %>
    <% end %>
  </div>
</div>
