<% provide(:page_title, "HOME") %>
<% if logged_in? %>
  <div class="row">
  <aside class="col-md-4">
      <section class="user_info">
        <%= render 'share/user_status' %>
      </section>
      <%= link_to "記事を投稿する", post_pages_path %>
    </aside>
    <div class="col-md-8">
    <h3>投稿記事一覧</h3>
      <%= render 'share/feed' %>
    </div>
  </div>
<% else %>
<div class="center jumbotron">
  <h1>What Service ？</h1>
  <p>あなたの受けたことがあるサービスに関して感想や情報を共有するサイトです！</p>
  <%= link_to "新規登録はこちら！", signup_path, class: "btn btn-lg btn-success" %><br>
  <div class="row">
    <div class="col-md-6">
      <p>フェイスブックアカウトをお持ちの方は</p>
      <%= link_to "Facebookアカウントでログイン！",'#',class: "btn btn-lg btn-primary" %>
    </div>
    <div class="col-md-6">
      <p>ツイッターアカウトをお持ちの方は</p>
      <%= link_to "Twitterアカウントでログイン！",'#',class: "btn btn-lg btn-info" %>
    </div>
  </div>
</div>
<h1>最新の投稿記事</h1>
<%= render 'share/anfeed' %>
<p>このサービスであなたも利用中のサービスの情報を共有しませんか？</p>
<p>これより先の全ての記事を見る場合は新規会員登録が必要となります。</p>
<%= link_to "新規登録はこちら！", signup_path, class: "btn btn-lg btn-success" %><br>
<% end %>