<div class="col-md-2 table_content">
  <p>記事内の目次</p>
  <p><%= link_to "①サービス名" , { anchor: "service_name1" } %></p>
  <p><%= link_to "②サービス料金" , { anchor: "service_price2" } %></p>
  <p><%= link_to "③画像" , { anchor: "service_picture3" } %></p>
  <p><%= link_to "④サービスの内容" , { anchor: "service_content4" } %></p>
  <p><%= link_to "※コメント" , { anchor: "service_comment5" } %></p>
</div>