<% provide(:page_title, "#{@micropost.name}" ) %>
<div class="row">
  <div class="col-md-6 col-md-offset-2 micropost_service_section">
  <div id="micropost-<%= "#{@micropost.id}" %>">
  <%= render 'content_section', micropost: @micropost %>
    <span class="like" id="like_form_<%= @micropost.id %>">
    <% if logged_in? && !current_user?(@micropost.user) %>
      <% if @micropost.liked_by.include?(current_user) %>
        <%= render "microposts/unlike", micropost: @micropost %>
      <% else %>
        <%= render "microposts/like", micropost: @micropost %>
      <% end %>
    <% end %>
    </span>
  <div class="row" id="service_comment5">
  <div class="comment_section">
      <div class="comment-create">
          <h3 class="text-left title">コメント広場</h3>
      </div>
      <div id="comments_area">
          <%= render partial: 'comments/index', locals: { comments: @comments } %>
      </div>
  </div>
  <hr>
  <% if logged_in? %>
      <div class="comment-create">
          <h3 class="text-left">コメントを投稿する</h3>
          <p>※暴言、誹謗中傷などのコメントはお控えください</p>
          <%= render partial: 'comments/comment_form', locals: { comment: @comment, micropost: @micropost } %>
      </div>
  <% end %>
</div>
</div>
</div>
<%= render 'page_jump' %>
</div>
<!-- ボタン・リンククリック後に表示される画面の内容 -->
<div class="modal" id="testModal-<%= @micropost.id %>"  role="dialog" aria-labelledby="basicModal" aria-hidden="true">
  <div class="modal-dialog　col-md-6 col-md-offset-2">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel">投稿画像</h4>
      </div>
      <div id="micropost-<%= "#{@micropost.id}" %>">
        <% if @micropost.user.picture.present? %>
          <%= image_tag @micropost.user.resize_edit_icon %>
        <% else %>
          <img src="/default2.jpg" width="65px" height="65px">
        <% end %>
        <span class="user">投稿主：<%= link_to "#{@micropost.user.name}", @micropost.user  %></span>
        <span class="micropost_content">
          <% if @micropost.picture.attached? %>
            <div class="service_picture" id="service_picture3">③画像</div><div class="picture_section"><%= image_tag @micropost.modal_picture %></div>
          <% else %>
            <div class="service_picture" id="service_picture3">③画像</div><div class="picture_section">画像が選択されていません。</div>
          <% end %>
        </span>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">閉じる</button>
        </div>
      </div>
    </div>
