<% provide(:page_title, "#{@micropost.name}" ) %>
<div class="row">
  <div class="col-md-6 col-md-offset-2 micropost_service_section">
  <div id="micropost-<%= "#{@micropost.id}" %>">
  <% if @micropost.user.picture.present? %>
    <%= image_tag @micropost.user.resize_edit_icon %>
  <% else %>
    <img src="/default2.jpg" width="65px" height="65px">
  <% end %>
  <span class="user">投稿主：<%= link_to "#{@micropost.user.name}", @micropost.user  %></span>
  <span class="micropost_content">
  <div class="service_name" id="service_name1">①サービスの名前</div><%= "#{@micropost.name}" %>
  <div class="service_price" id="service_price2">②サービスの金額</div><%= "#{@micropost.price}" %>
    <% if @micropost.picture.attached? %>
    <div class="service_picture" id="service_picture3">③画像</div><div class="picture_section"><%= image_tag @micropost.resize_picture %></div>
    <% else %>
    <div class="service_picture" id="service_picture3">③画像</div><div class="picture_section">画像が選択されていません。</div>
    <% end %>
    <span class="micropost_section">
    <div class="service_content" id="service_content4">④サービスの内容</div><br><%= sanitize "#{@micropost.content}" %><br>
    </span>
    <% if current_user?(@micropost.user) %>
      <%= link_to "削除する", @micropost, method: :delete,
                                       data: { confirm: "投稿した記事を削除しますか？" } %>
      <p><%= link_to "記事の修正を行う", edit_micropost_path(@micropost.id) %></p>
    <% end %><br>
    <span class="like" id="like_form_<%= @micropost.id %>">
    <% if logged_in? && !current_user?(@micropost.user) %>
      <% if @micropost.liked_by.include?(current_user) %>
        <%= render "microposts/unlike", micropost: @micropost %>
      <% else %>
        <%= render "microposts/like", micropost: @micropost %>
      <% end %>
    <% end %>
    </span>
</li>
  </span>
  <div class="row" id="service_comment5">
  <div class="comment_section">
      <div class="comment-create">
          <h3 class="text-left title">コメント広場</h3>
      </div>
      <div id="comments_area">
          <%= render partial: 'comments/index', locals: { comments: @comments } %>
      </div>
  </div>
  <hr>
  <% if logged_in? %>
      <div class="comment-create">
          <h3 class="text-left">コメントを投稿する</h3>
          <p>※暴言、誹謗中傷などのコメントはお控えください</p>
          <%= render partial: 'comments/comment_form', locals: { comment: @comment, micropost: @micropost } %>
      </div>
  <% end %>
</div>
</div>
</div>
<div class="col-md-2 table_content">
  <p>記事内の目次</p>
  <p><%= link_to "①サービス名" , { anchor: "service_name1" } %></p>
  <p><%= link_to "②サービス料金" , { anchor: "service_price2" } %></p>
  <p><%= link_to "③画像" , { anchor: "service_picture3" } %></p>
  <p><%= link_to "④サービスの内容" , { anchor: "service_content4" } %></p>
  <p><%= link_to "※コメント" , { anchor: "service_comment5" } %></p>
</div>
</div>