<header class="navbar navbar-fixed-top bg-success">
  <div class="container">
  <%= link_to "What Service App", root_path, id: "logo" %>  
    <nav class="nav_header">
      <ul class="nav navbar-nav navbar-right fixed-top navbar-extend">
      <% if logged_in? %>
        <div class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <i class="fas fa-search">検索</i>
            <b class="caret"></b>
          </a>
          <ul class="dropdown-menu">
            <li class="users_search">
              <p><%= form_with url: searches_path, method: :get, local: true do |f| %>
                <%= text_field_tag :search, params[:search], placeholder: "全体記事を検索" %>
                <%= submit_tag '検索', :name => nil %>
              <% end %></p>
              <%= link_to "ユーザー検索の場合はこちらをクリック", users_path, class: "btn btn-info user_searchbutton" %>
            </li>
        </div>
        <div class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown">
      メニュー
      <b class="caret"></b>
      </a>
      <ul class="dropdown-menu dropdown-menu-right">
        <li><%= link_to "ホーム", root_path %></li>
        <li class="divider"></li>
        <li><%= link_to "アバウト", about_path %></li>
        <li class="divider"></li>
        <li class="notification">
        <%= link_to notifications_path do %>
          通知一覧
          <% if unchecked_notifications.any? %>
            <i class="fa fa-circle notification-circle"></i>
          <% end %>
        <% end %>
        </li>
        <li class="divider"></li>
          <li><%= link_to "ユーザ一覧", users_path %></li>
      </div>
          <div class="dropdown" id="picture_dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <% if current_user.picture.present? %>
              <%= image_tag current_user.resize_icon %>
            <% else %>
              <img src="/default2.jpg" width="50px" height="50px">
            <% end %>  
            <b class="caret"></b>
            </a>
            <ul class="dropdown-menu dropdown-menu-right">
              <li><%= link_to "プロフィール", current_user %></li>
              <li><%= link_to "設定", edit_user_path(current_user) %></li>
              <li class="divider"></li>
              <li><%= link_to "ログアウト", logout_path, method: :post, class: "btn btn-link user_searchbutton" %></li>
              <li><%= link_to "ログアウト", logout_path, method: :post %></li>
            </ul>
          </div>
        <% else %>
        <li class="no_session"><%= link_to "ホーム", root_path %></li>
        <li class="no_session"><%= link_to "アバウト", about_path %></li>
        <li class="no_session"><%= link_to "ログイン", login_path %></li>
      </div>
      <% end %>
      </ul>
    </nav>
  </div>
</header>